<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Jolybely</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">jolybely</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
            <div class="row center">
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/apple.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>APPLE</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">Rs. 80/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/mango.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>MANGO</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">Rs. 50/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/potato.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>POTATO</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">Rs. 15/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/onion-seeds.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>ONION</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">Rs. 50/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/atta.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>AASHIRVAD ATTA</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">Rs. 400</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Carrot.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>CARROT</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 30/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/pineapple.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>PINEAPPLE</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 50/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/orang.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>ORANGE</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 80/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/begun.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>BRINJEL</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 30/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/masteroil.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>MASTER OIL</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 120/kg</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/mazza.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>MAAZA</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 80/2L</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/spirte.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>SPRITE CAN</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">Rs. 40/piece</div>
                </div>
              </div>
            </div>
          </div>
      </main>
      <footer class="row center">@ copyright jolybely.com</footer>
    </div>
  </body>
</html>